
body{
    background-color: aquamarine;
}
h1{
    display: block;
    font-size: 4em;
    margin-block-start: 4em;
    margin-block-end: 2em;
    margin-inline-start: 4em;
    margin-inline-end: 0px;
    font-weight: bold;
    align-content: center;
    
}